*{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

h1{
    font-size: 60px;
}

.text-custom{
    color: red;
    background-color: aquamarine;
    margin-bottom: 100px;
}

.text-custom2{
    color: blue;
    background-color: blanchedalmond;
    margin-bottom: 100px;
}

.espacioabajocustom{
    margin-bottom: 100px;
}

.identificador-parrafo{
    margin-top: 70px;
}